
   
#  Local .terraform directories
**/.terraform/*

### Terragrunt ###
# terragrunt cache directories
**/.terragrunt-cache/*

# Terragrunt debug output file (when using `--terragrunt-debug` option)
# See: https://terragrunt.gruntwork.io/docs/reference/cli-options/#terragrunt-debug
terragrunt-debug.tfvars.json

# .tfstate files
*.tfstate
*.tfstate.*
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl

node_modules
.idea
.env

dist
